<title>train plan</title>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'plan/style.css' %}" />
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'plan/layui/css/layui.css' %}"
/>
<script
  type="text/javascript"
  src="{% static 'plan/layui/layui.js' %}"
></script>

<div id="box" class="layui-bg-black">
  <div class="layui-row">
    <div class="layui-col-md1 layui-col-md-offset11">
      <button class="layui-btn layui-btn-danger">
        <a href="{% url 'update:update' %}">同步数据</a>
      </button>
    </div>
  </div>

  <form class="layui-form" action="" id="form-box" method="POST">
    <h2>车票信息</h2>
    <div class="layui-form-item">
      <div class="layui-inline">
        <label class="layui-form-label">出发地</label>
        <div class="layui-input-inline">
          <select name="from" lay-verify="required">
            <option value="">请选择一个城市</option>
            <option value="010">北京</option>
            <option value="021">上海</option>
            <option value="0571">杭州</option>
          </select>
        </div>
      </div>
      <div class="layui-inline">
        <label class="layui-form-label">目的地</label>
        <div class="layui-input-inline">
          <select name="to" lay-verify="required">
            <option value="">请选择一个城市</option>
            <option value="010">北京</option>
            <option value="021">上海</option>
            <option value="0571">杭州</option>
          </select>
        </div>
      </div>
      <div class="layui-inline">
        <label class="layui-form-label">出发日期</label>
        <div class="layui-input-inline">
          <input
            type="text"
            name="date"
            class="layui-input"
            id="data-check"
            lay-verify="required"
          />
        </div>
      </div>
    </div>

    <h2>车次类型</h2>
    <div class="layui-form-item">
      <div class="layui-inline">
        <label class="layui-form-label">GC-高铁/城际</label>
        <div class="layui-input-block">
          <input type="checkbox" checked name="GC" lay-skin="switch" />
        </div>
      </div>
      <div class="layui-inline">
        <label class="layui-form-label">D-动车</label>
        <div class="layui-input-block">
          <input type="checkbox" checked name="D" lay-skin="switch" />
        </div>
      </div>
      <div class="layui-inline">
        <label class="layui-form-label">Z-直达</label>
        <div class="layui-input-block">
          <input type="checkbox" checked name="Z" lay-skin="switch" />
        </div>
      </div>
      <div class="layui-inline">
        <label class="layui-form-label">T-特快</label>
        <div class="layui-input-block">
          <input type="checkbox" checked name="T" lay-skin="switch" />
        </div>
      </div>
      <div class="layui-inline">
        <label class="layui-form-label">K-快速</label>
        <div class="layui-input-block">
          <input type="checkbox" checked name="K" lay-skin="switch" />
        </div>
      </div>
      <div class="layui-inline">
        <label class="layui-form-label">其他</label>
        <div class="layui-input-block">
          <input type="checkbox" name="O" lay-skin="switch" />
        </div>
      </div>
    </div>

    <h2>座位类型</h2>
    <div class="layui-form-item">
      <div class="layui-inline">
        <label class="layui-form-label">商务座/特等座</label>
        <div class="layui-input-block">
          <input type="checkbox" name="seat-a" lay-skin="switch" />
        </div>
      </div>
      <div class="layui-inline">
        <label class="layui-form-label">一等座</label>
        <div class="layui-input-block">
          <input type="checkbox" checked name="seat-b" lay-skin="switch" />
        </div>
      </div>
      <div class="layui-inline">
        <label class="layui-form-label">二等座/二等包座</label>
        <div class="layui-input-block">
          <input type="checkbox" checked name="seat-c" lay-skin="switch" />
        </div>
      </div>
      <div class="layui-inline">
        <label class="layui-form-label">高级软卧</label>
        <div class="layui-input-block">
          <input type="checkbox" checked name="seat-d" lay-skin="switch" />
        </div>
      </div>
      <div class="layui-inline">
        <label class="layui-form-label">软卧/一等卧</label>
        <div class="layui-input-block">
          <input type="checkbox" checked name="seat-e" lay-skin="switch" />
        </div>
      </div>
      <div class="layui-inline">
        <label class="layui-form-label">动卧</label>
        <div class="layui-input-block">
          <input type="checkbox" checked name="seat-f" lay-skin="switch" />
        </div>
      </div>
      <div class="layui-inline">
        <label class="layui-form-label">硬卧/二等卧</label>
        <div class="layui-input-block">
          <input type="checkbox" checked name="seat-g" lay-skin="switch" />
        </div>
      </div>
      <div class="layui-inline">
        <label class="layui-form-label">软座</label>
        <div class="layui-input-block">
          <input type="checkbox" checked name="seat-h" lay-skin="switch" />
        </div>
      </div>
      <div class="layui-inline">
        <label class="layui-form-label">硬座</label>
        <div class="layui-input-block">
          <input type="checkbox" checked name="seat-i" lay-skin="switch" />
        </div>
      </div>
      <div class="layui-inline">
        <label class="layui-form-label">无座</label>
        <div class="layui-input-block">
          <input type="checkbox" name="seat-j" lay-skin="switch" />
        </div>
      </div>
    </div>
    <div class="layui-form-item">
      <button class="layui-btn" lay-submit lay-filter="formDemo">
        立即查询
      </button>
      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
    </div>
  </form>
</div>

<script>
  layui.use(["form", "laydate"], () => {
    const laydate = layui.laydate;
    const form = layui.form;

    laydate.render({
      elem: "#data-check",
      min: 0,
      max: 29
    });

    form.on("submit(formDemo)", function(data) {
      const dataTmp = data.field;
      const dataSub = {
        from: dataTmp.from,
        to: dataTmp.to,
        date: dataTmp.date
      };
      const linkTypes = [];
      const seatTypes = [];
      Object.keys(dataTmp).forEach(key => {
        if (/^seat\-[a-z]$/.test(key) && dataTmp[key] === "on") {
          seatTypes.push(key.replace("seat-", ""));
        } else if (/^[A-Z]{1,2}$/.test(key) && dataTmp[key] === "on") {
          linkTypes.push(key);
        }
      });
      console.log(linkTypes);
      console.log(seatTypes);
      return false;
    });
  });
</script>
