html,
body,
#box {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#box {
  padding: 100px;
  box-sizing: border-box;
}

h2 {
  color: rgb(14, 226, 233);
  padding: 10px 0 !important;
}

.layui-inline {
  vertical-align: top !important;
}

.selectBox {
  position: absolute;
  top: 0;
  left: 0;
  color: #000;
}

.selectBox .layui-select-title {
  height: 0;
  overflow: hidden;
}

.selectBox .layui-select-title .layui-edge {
  display: none;
}
